services:
  qdd:
    build: .
    working_dir: /app
    volumes:
      - .:/app
      - .\secrets\snowflake_key.p8:/run/secrets/snowflake_key.p8:ro
    env_file:
      - .env.docker

    command: >
      sh -c "chmod +x entrypoint.sh && ./entrypoint.sh"